<div class="app-main__inner">

    <div class="table-title">
        <div class="row">
            <div class="col-sm-6">
                <h2><b>Announcements</b></h2>
            </div>
        </div>
    </div>
    <div class="table-responsive">

        <div class="table-body">
            <% for (var i=0; i < newN.length;i++) { %>
                <div class="toast-header">
                    <svg class=" rounded mr-2" width="10" height="10" xmlns="http://www.w3.org/2000/svg"
                        preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
                        <rect fill="#007aff" width="100%" height="100%" />
                    </svg>
                    <strong class="mr-auto">
                        <%= newN[i].title%>
                    </strong>
                    <form class="mr-2">
                        <a class="btn btn-sm btn-md btn-info" onclick="viewNotif('<%= newN[i].messageId %>')"
                            data-toggle="collapse" href="#collapseExample<%= newN[i].messageId %>" role="button"
                            aria-expanded="false" aria-controls="collapseExample">
                            view
                        </a>
                    </form>
                    <!-- <a class="btn btn-sm btn-md btn-primary" onclick="viewNotif('<%= newN[i].messageId %>')" data-toggle="collapse" href="#collapseExample<%= newN[i].messageId %>" role="button" aria-expanded="false" aria-controls="collapseExample">
						view
					  </a> -->
                    <form action="/dismissAnnouncement/<%= newN[i].messageId %>" method="post">
                        <input type="submit" id="PopoverCustomT-1" value="Dismiss"
                            class="btn btn-sm btn-md btn-danger"></input>
                    </form>
                </div>
                <div class="toast-body collapse" id="collapseExample<%= newN[i].messageId%>">
                    <strong>
                        <%= newN[i].message%>
                    </strong>
                    <p class="text-secondary pull-right">
                        <%= newN[i].msgDate%>
                    </p>
                </div>
                <br>
                <% } %>
        </div>
    </div>

    <div class="table-title">
        <div class="row">
            <div class="col-sm-6">
                <h2><b>Old Announcements</b></h2>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <div class="table-body">
            <% for (var i=0; i < oldN.length;i++) { %>
                <div class="toast-header">
                    <svg class=" rounded mr-2" width="10" height="10" xmlns="http://www.w3.org/2000/svg"
                        preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
                        <rect fill="#007aff" width="100%" height="100%" />
                    </svg>
                    <strong class="mr-auto">
                        <%= oldN[i].title%>
                    </strong>
                    <form class="mr-2">
                        <a class="btn btn-sm btn-md btn-info" onclick="viewNotif('<%= oldN[i].messageId %>')"
                            data-toggle="collapse" href="#collapseExample<%= oldN[i].messageId %>" role="button"
                            aria-expanded="false" aria-controls="collapseExample">
                            view
                        </a>
                    </form>

                    <form action="/dismissAnnouncement/<%= oldN[i].messageId %>" method="post">
                        <input type="submit" id="PopoverCustomT-1" value="Dismiss"
                            class="btn btn-sm btn-md btn-danger"></input>
                    </form>
                </div>
                <div class="toast-body collapse" id="collapseExample<%= oldN[i].messageId%>">
                    <strong>
                        <%= oldN[i].message%>
                    </strong>
                    <p class="text-secondary pull-right">
                        <%= oldN[i].msgDate%>
                    </p>
                </div>
                <br>
                <% } %>
        </div>
    </div>

</div>

<script>
    function viewNotif(id) {
        console.log(id, "clicked")
        $.ajax({
            type: 'post',
            url: 'viewNotification/' + id,
            // success: function(result) {
            //   document.getElementById("stepCount").value=result.stepCount;
            //   document.getElementById("stepGoal").value=result.stepGoal;
            //      //$('#champ').html(result);
            // }
        });
    }
</script>