<div class="app-main__inner">
	<div class="table-title">
		<div class="row">
			<div class="col-sm-6">
				<h2><b>Challenges</b></h2>
			</div>
		</div>
	</div>

	<div class="table-responsive">
		<h2>Ongoing Challenges</h2>
		<table class="table">

			<%	if(present.length<=0 ){ %>
			<h6> Currently, There are no ongoing challenges</h6>
			<%	}else{ %>
			<thead class="thead-dark">
				<tr>
					<th scope="col">Sl.No</th>
					<th scope="col">Name</th>
					<th scope="col">Description</th>
					<th scope="col">Metrics</th>
					<th scope="col">Start Date</th>
					<th scope="col">End Date</th>
					<th scope="col">Status</th>
				</tr>
			</thead>
			<tbody>
				<% for( let i = 0; i < present.length; i++ ) { %>
				<tr>
					<td scope="row"> <%= i+1 %></td>
					<td><%= present[i].challengeName %></td>
					<td><%= present[i].challengeDescription %></td>
					<td><%= present[i].challengeType %></td>
					<td><%= present[i].startDate %></td>
					<td><%= present[i].endDate %></td>

					<td>
						<% 	if( present[i].activeUser  == 1) { %>

						<form action="/leaveChallenge/<%= present[i].challengeId%>" method="POST">
							<input type="submit" value="Leave" class="btn btn-danger" id="button"
								onclick="leftChallenge()"></input>
						</form>

						<%   }else{ %>
						<form action="/joinChallenge/<%= present[i].challengeId%>" method="POST">
							<input type="submit" value="Accept" class="btn btn-success" id="button"
								onclick="acceptChallenge()"></input>
						</form>

						<%  } %>
					</td>

				</tr>
				<% } %>

			</tbody>
			<%	}%>


		</table>
	</div>

	<div class="table-responsive">
		<h2>Past Challenges</h2>
	
		<% if(previous.length<=0 ){ %>
			<h6> There are no past challenges</h6>
			<% }else{ %>
	
				<table class="table">
					<thead class="thead-dark">
						<tr>
							<th scope="col">Sl.No</th>
							<th scope="col">Name</th>
							<th scope="col">Description</th>
							<th scope="col">Metrics</th>
							<th scope="col">Start Date</th>
							<th scope="col">End Date</th>
						</tr>
					</thead>
					<tbody>
						<% for( let i=0; i < previous.length; i++ ) { %>
							<tr>
								<td scope="row">
									<%= i+1 %>
								</td>
								<td>
									<%= previous[i].challengeName %>
								</td>
								<td>
									<%= previous[i].challengeDescription %>
								</td>
								<td>
									<%= previous[i].challengeType %>
								</td>
								<td>
									<%= previous[i].startDate %>
								</td>
								<td>
									<%= previous[i].endDate %>
								</td>
							</tr>
							<% } %>
	
					</tbody>
	
					<% }%>
				</table>
	</div>

	
	<div class="table-responsive">
		<h2>Left Challenges</h2>
	
		<% if(leftChallenges.length<=0 ){ %>
			<h6> There are no Left challenges</h6>
			<% }else{ %>
				<table class="table">
					<thead class="thead-dark">
						<tr>
							<th scope="col">Sl.No</th>
							<th scope="col">Name</th>
							<th scope="col">Description</th>
							<th scope="col">Metrics</th>
							<th scope="col">Start Date</th>
							<th scope="col">End Date</th>
						</tr>
					</thead>
					<tbody>
						<% for( let i=0; i < leftChallenges.length; i++ ) { %>
							<tr>
								<td scope="row">
									<%= i+1 %>
								</td>
								<td>
									<%= leftChallenges[i].challengeName %>
								</td>
								<td>
									<%= leftChallenges[i].challengeDescription %>
								</td>
								<td>
									<%= leftChallenges[i].challengeType %>
								</td>
								<td>
									<%= leftChallenges[i].startDate %>
								</td>
								<td>
									<%= leftChallenges[i].endDate %>
								</td>
							</tr>
							<% } %>
					</tbody>
	
					<% }%>
				</table>
	</div>
	</div>
	<script>
		function leftChallenge() {
			alert("Left Challenge");
		}

		function acceptChallenge() {
			alert("Accepted Challenge");
		}
	</script>