<div class="app-main__inner">
    <section>
        <div class="container app-container-wrapper">
            <div class="row justify-content-center">
                <div class="col-lg-4">
                    <form method="POST" class="my-5">
                        <div class="form-group">
                            <%- include ('../partials/messages') %>
                            <h2 class="d-flex justify-content-center py-3">Mindful Minutes</h2>

                        </div>
                        <!-- <div class="form-row">
                            <label for="username">Date:</label>
                            Reference: https://eonasdan.github.io/bootstrap-datetimepicker/ 
                            <div class='input-group date' id='datetimepicker1'>
                                <input type='text' name="date" id="dateText"
                                    value="<%= typeof date != 'undefined' ? date : '' %>" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>  -->
                        <div class="form-row">
                            <label for="dateText"> &nbsp; </label>
                            <p id="demo"></p>
                            <!-- <input  id="demo" class="form-control" /> -->
                          </div>
              
                         <script>
              let d = new Date();
                          const months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
                          const dayNames =
                            ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
                          let formatted_date =
                            dayNames[d.getDay()] +
                            ", " +
                            months[d.getMonth()] +
                            " " +
                            d.getDate() +
                            ", " +
                            d.getFullYear();
              document.getElementById("demo").innerHTML = formatted_date;
            </script>
                        <div class="form-row">
                            <label for="username">Number of mindful minutes</label>
                            <input type="number" id="meTime" name="meTime" min="0" class="form-control" placeholder="0"
                                value="<%= typeof meTime != 'undefined' ? meTime : '' %>" />
                        </div>
                        <div class="form-row">
                            <label for="password">Personal Daily Goal</label>
                            <input type="number" id="meTimeGoal" name="meTimeGoal" min="0" class="form-control" placeholder="0"
                                value="<%= typeof meTimeGoal != 'undefined' ? meTimeGoal : '' %>" />
                        </div>
                        <div class="form-row">
                            <label for="password">Physical Activity</label>
                            <input type="text" id="meTime" name="Physical Activity" class="form-control" value="Meditation"placeholder="Physical Activity"
                                value="<%= typeof meTime != 'undefined' ? meTime : '' %>" />
                        </div>
                        <div class="form-row"></div>

                        <div class="form-row">
                            <div class="col-lg-12">
                                <button type="submit" class="btn btn-primary" style="margin-top: 10px;">
                                    Update
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>   
