<div class="app-main__inner">
  <div class="container-fluid">
    <div class="row">
      <div
        class="col-sm-3 card user-card"
        style="background-color: hsla(0, 72%, 83%, 0.3)"
        onclick="location.href = '/userStep';"
      >
        <h4>Step Count</h4>
        <div class="user-card-body">
          <img
            src="/static/assets/images/happyHealth/stepp.png"
            alt="user_stat"
            class="img"
            width="250"
            height="180"
          />
          <button type="submit" class="btn btn-outline-secondary">
            <b>Step Count: <%= stepCount %></b>
          </button>
        </div>
      </div>
      <div
        class="col-sm-3 card user-card"
        style="background-color: #b3d5fa"
        onclick="location.href = '/userHydration';"
      >
        <h4>Water</h4>
        <div class="user-card-body">
          <img
            src="/static/assets/images/happyHealth/glassw.png"
            alt="user_stat"
            width="250"
            height="170"
          />
          <button type="submit" class="btn btn-outline-secondary">
            <b>Water Consumed: <%= water %> </b>
          </button>
        </div>
      </div>
      <div
        class="col-sm-3 card user-card"
        style="background-color: #babcbd"
        onclick="location.href = '/userSleep';"
      >
        <h4>Sleep Hours</h4>
        <div class="user-card-body">
          <img
            src="/static/assets/images/happyHealth/sleeping.png"
            alt="user_stat"
            width="250"
            height="170"
          />

          <button type="submit" class="btn btn-outline-secondary">
            <b>Sleep Hours: <%= sleepHours %></b>
          </button>
        </div>
      </div>

      <div
        class="col-sm-3 card user-card"
        style="background-color: #f7ce82"
        onclick="location.href = '/userTrack';"
      >
        <h4>Mindful Minutes</h4>
        <div class="user-card-body">
          <img
            src="/static/assets/images/happyHealth/booko.png"
            alt="user_stat"
            width="250"
            height="170"
          />
          <button type="submit" class="btn btn-outline-secondary">
            <b>Mindful Minutes: <%= meTime %></b>
          </button>
        </div>
      </div>

      <div
        class="col-sm-3 card user-card"
        style="background-color: #eea8a8"
        onclick="location.href = '/getFruitsVeggies';"
      >
        <h4>Fruits-Vegetables</h4>
        <div class="user-card-body">
          <img
            src="/static/assets/images/happyHealth/healthy-food.png"
            alt="user_stat"
            class="img"
            width="80"
            height="70"
          />

          <button type="submit" class="btn btn-outline-secondary">
            <b>Fruit Consumed: <%= fruits %> </b>
            <br />
            <b>Vegetables Consumed: <%= veggies %></b>
          </button>
        </div>
      </div>

      <div
        class="col-sm-3 card user-card"
        style="background-color: #abf1a1"
        onclick="location.href = '/userPhysicalActivity';"
      >
        <h4>Physical Activity</h4>
        <div class="user-card-body">
          <img
            src="/static/assets/images/happyHealth/gym.png"
            alt="user_stat"
            class="img"
            width="250"
            height="170"
          />
          <!-- <img src="/static/assets/images/happyHealth/cycle.png" alt="user_stat" class="img" width="250" height="170" /> -->

          <button type="submit" class="btn btn-outline-secondary">
            <b>Physical Activity: <%= physicalActivityMinutes %> </b>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
