<div class="app-main__inner">
	<div class="table-title">
		<div class="row">
			<div class="col-sm-6">
				<h2><b>Challenges</b></h2>
			</div>
		</div>
	</div>

	<div class="table-responsive">
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Sl.No</th>
					<th scope="col">Name</th>
					<th scope="col">Description</th>
					<th scope="col">Metrics</th>
					<th scope="col">Start Date</th>
					<th scope="col">End Date</th>
					<th scope="col">Status</th>
				</tr>
			</thead>
			<tbody>
				<% for( let i = 0; i < result.length; i++ ) { %>
				<tr>
					<td scope="row"> <%= i+1 %></td>
					<td><%= result[i].challengeName %></td>
					<td><%= result[i].challengeDescription %></td>
					<td><%= result[i].challengeType %></td>
					<td><%= result[i].startDate %></td>
					<td><%= result[i].endDate %></td>

					<td>
						<% 	if( result[i].activeUser  == 1) { %>

							<form action="/leaveChallenge/<%= result[i].challengeId%>" method="POST">
								<input type="submit" value="Leave" class="btn btn-danger" id="button" onclick="leftChallenge()"></input>
							</form>

						 <%   }else{ %>
							<form action="/joinChallenge/<%= result[i].challengeId%>" method="POST" >
								<input type="submit" value="Accept" class="btn btn-success" id="button"></input>
							</form>

						<%  } %>
				 </td>

				</tr>
				<% } %>

			</tbody>
		</table>
	</div>
</div>
<script>

	function leftChallenge(){
	  alert("Accepted Challenge");
	}
  </script>
