<div class="app-main__inner">
  <div class="container-fluid">
    <div class="row">
      <div
        class="col-sm-3 card user-card"
        style="background-color: hsla(0, 100%, 90%, 0.3)"
        onclick="location.href = '/userStep';"
      >
        <h4>Step Count</h4>
        <div class="user-card-body">
          <img
            src="/static/assets/images/happyHealth/stepp.png"
            alt="user_stat"
<<<<<<< HEAD
=======
            class="img"
            width="250"
            height="180"
>>>>>>> 65c9b8a0e00ee7a496167ce1ce212fa822d29185
          />
          <button type="submit" class="btn btn-outline-secondary">
            <b>Step Count: <%= stepCount %></b>
          </button>
        </div>
      </div>
      <div
        class="col-sm-3 card user-card"
        style="background-color: #c2dfff"
        onclick="location.href = '/userHydration';"
      >
        <h4>Water</h4>
        <div class="user-card-body">
          <img
            src="/static/assets/images/happyHealth/glassw.png"
            alt="user_stat"
<<<<<<< HEAD
=======
            width="250"
            height="170"
>>>>>>> 65c9b8a0e00ee7a496167ce1ce212fa822d29185
          />
          <button type="submit" class="btn btn-outline-secondary">
            <b>Water Consumed:</b> <b><%= water %></b>
          </button>
        </div>
      </div>
      <div
        class="col-sm-3 card user-card"
        style="background-color: #d8dadb"
        onclick="location.href = '/userSleep';"
      > 
        <h4>Sleep Hours</h4>
        <div class="user-card-body">
          <img
            src="/static/assets/images/happyHealth/sleeping.png"
            alt="user_stat"
<<<<<<< HEAD
=======
            width="250"
            height="170"
>>>>>>> 65c9b8a0e00ee7a496167ce1ce212fa822d29185
          />

          <button type="submit" class="btn btn-outline-secondary">
            <b>Sleep Hours: <%= sleepHours %></b>
          </button>
        </div>
      </div>
      <div
        class="col-sm-3 card user-card"
        style="background-color: #ffd17a"
        onclick="location.href = '/userTrack';"
      >
        <h4>Mindful Minutes</h4>
        <div class="user-card-body">
          <img
            src="/static/assets/images/happyHealth/booko.png"
            alt="user_stat"
<<<<<<< HEAD
=======
            width="250"
            height="170"
>>>>>>> 65c9b8a0e00ee7a496167ce1ce212fa822d29185
          />
          <button type="submit" class="btn btn-outline-secondary">
            <b>Mindful Minutes: <%= meTime %></b>
          </button>
        </div>
      </div>
      <div
<<<<<<< HEAD
        class="col-sm-3 card user-card"
        style="background-color: #e5ffcc"
        onclick="location.href = '/userFruits';"
      >
        <h4>Fruits</h4>
        <div class="user-card-body">
=======
        class="col-sm-3 card"
        style="background-color: #e97c7c"
        onclick="location.href = '/userFruits';"
      >
        <div class="card-body">
          <h4>Fruits & Vegetables</h4>
>>>>>>> 65c9b8a0e00ee7a496167ce1ce212fa822d29185
          <img
            src="/static/assets/images/happyHealth/healthy-food.png"
            alt="user_stat"
<<<<<<< HEAD
=======
            width="250"
            height="175"
>>>>>>> 65c9b8a0e00ee7a496167ce1ce212fa822d29185
          />

          <button type="submit" class="btn btn-outline-secondary">
            <b>Fruits & Vegetables Consumed: <%= fruits %> </b>
          </button>
        </div>
      </div>
      <div
<<<<<<< HEAD
        class="col-sm-3 card user-card"
        style="background-color: #98ff98"
        onclick="location.href = '/userVegetables';"
      >
        <h4>Vegetables</h4>
        <div class="user-card-body">
          <img
            src="/static/assets/images/happyHealth/vegetable.png"
            alt="user_stat"
=======
        class="col-sm-3 card"
        style="background-color: #abf1a1"
        onclick="location.href = '/userVegetables';"
      >
       <!-- <div class="card-body">
          <h4>Vegetables</h4>
          <img
            src="/static/assets/images/happyHealth/vegetable.png"
            alt="user_stat"
            width="250"
            height="170"
>>>>>>> 65c9b8a0e00ee7a496167ce1ce212fa822d29185
          />

          <button type="submit" class="btn btn-outline-secondary">
            <b>Vegetables Consumed: <%= veggies %></b>
          </button>
        </div>
      </div>
      <div
<<<<<<< HEAD
        class="col-sm-3 card user-card"
        style="background-color: #ddafda"
        onclick="location.href = '/userPhysicalActivity';"
      >
        <h4>Physical Activity</h4>
        <div class="user-card-body">
=======
        class="col-sm-3 card"
        style="background-color: #dd8a8a"
        onclick="location.href = '/userPhysicalActivity';"
      > -->
        <div class="card-body">
          <h4>Physical Activity</h4>
>>>>>>> 65c9b8a0e00ee7a496167ce1ce212fa822d29185
          <img
            src="/static/assets/images/happyHealth/act.png"
            alt="user_stat"
<<<<<<< HEAD
            />
=======
            width="250"
            height="170"
          />
>>>>>>> 65c9b8a0e00ee7a496167ce1ce212fa822d29185

          <button type="submit" class="btn btn-outline-secondary">
            <b>Physical Activity: <%= physicalActivityMinutes %> </b>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
