<div class="app-main__inner">
    <section>
        <div class="container app-container-wrapper">
            <div class="row justify-content-center">
                <div class="col-lg-4">

                    <form action="/signup" method="POST">

                        <div class="form-group">
                            <h2>Create an account</h2>
                            <%- include ('../partials/messages') %>
                        </div>
                        <div class="form-row mb-2">
                            <label for="name" class="mb-0">Username</label>
                            <input type="text" id="name" name="username" pattern="[a-zA-Z0-9]+" class="form-control"
                                placeholder="Username" aria-describedby="emailHelp"
                                value="<%= typeof username != 'undefined' ? username : '' %>"
                                title="Username must contains only letters and numbers" minlength="6" maxlength="12" required />
                        </div>
                        <div class="form-row mb-3">
                            <label for="email">Email</label>
                            <input type="email" id="email" name="email" class="form-control" placeholder="Email id"
                                aria-describedby="emailHelp" value="<%= typeof email != 'undefined' ? email : '' %>"
                                maxlength="50" required />
                        </div>
                        <div class="form-row mb-3">
                            <label for="password">Password</label>
                            <input type="password" id="password" name="password" class="form-control"
                                placeholder="***************"
                                value="<%= typeof password != 'undefined' ? password : '' %>" minlength="8"
                                maxlength="15"
                                pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
                                title="At least one uppercase letter, one lowercase letter, one number and one special character"
                                required />
                                <!-- <input type="checkbox" onclick="toggleVisibility()"/>&nbspShow Password</br> -->
                        </div>
                        <div class="form-row">
                            <label for="password2">Confirm Password</label>
                            <input type="password" id="password2" name="password2" class="form-control"
                                placeholder="***************"
                                value="<%= typeof password2 != 'undefined' ? password2 : '' %>" minlength="8"
                                maxlength="15"
                                pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
                                title="At least one uppercase letter, one lowercase letter, one number and one special character"
                                onkeyup='check();' required />
                        </div>
                        <div class="form-check mb-3">
                          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" onclick="toggleVisibility()">
                          <label class="form-check-label" for="flexCheckDefault">
                            Show Password
                          </label>
                        </div>
                        <div class="form-row mb-1">
                            <p class="my-0">You already have an account? <a href="/">Sign In! </a> </p>

                        </div>
                        <div class="form-row">
                            <button type="submit" id="btnSignUp" class="btn btn-primary btn-block">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
<script>
    function check(){
        console.log("****Check up Function******")
        if (document.getElementById('password').value !==
          document.getElementById('password2').value){
              console.log("Inside if password check");
            document.getElementById('password2').title="Password Not matched"
            $("#btnSignUp").attr("disabled", "disabled");
            $('#btnSignUp').css('cursor', 'not-allowed');
          }else{
            console.log("else if password check");
            $("#btnSignUp").removeAttr("disabled");
            $('#btnSignUp').css('cursor', 'pointer');
          }

          console.log("********end checkup function")

    }
</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
<link rel="stylesheet" href="css/style.css">

<script>  
  function toggleVisibility() {  
    const getPasword = document.getElementById("password");
    const getPasword2 = document.getElementById("password2");  
    if (getPasword.type === "password") {  
      getPasword.type = "text"; 
      getPasword2.type = "text"; 
    } else {  
      getPasword.type = "password";  
      getPasword2.type = "password";  
    }  
  }  
  </script>  