<div class="app-main__inner">
  <section>
    <div class="container app-container-wrapper">
      <div class="row justify-content-center">
        <div class="col-lg-4">
          <form method="POST" class="my-5">
            <div class="form-group">
              <%- include ('../partials/messages') %>
              <h2 class="d-flex justify-content-center py-3">Sleep Hours</h2>
            </div>
            <!-- <div class="form-row">
                            <label for="username">Date:</label>
                            Reference: https://eonasdan.github.io/bootstrap-datetimepicker/ 
                            <div class='input-group date' id='datetimepicker1'>
                                <input type='text' name="date" id="dateText"
                                    value="<%= typeof date != 'undefined' ? date : '' %>" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div> -->
            <div class="form-row">
              <label for="dateText"> &nbsp; </label>
              <p id="demo"></p>
              <!-- <input  id="demo" class="form-control" /> -->
            </div>
            <script>
              let d = new Date();
              const months = [
                "January",
                "February",
                "March",
                "April",
                "May",
                "June",
                "July",
                "August",
                "September",
                "October",
                "November",
                "December",
              ];
              const dayNames = [
                "Sunday",
                "Monday",
                "Tuesday",
                "Wednesday",
                "Thursday",
                "Friday",
                "Saturday",
              ];
              let formatted_date =
                dayNames[d.getDay()] +
                ", " +
                months[d.getMonth()] +
                " " +
                d.getDate() +
                ", " +
                d.getFullYear();
              document.getElementById("demo").innerHTML = formatted_date;
            </script>
            <div class="form-row">
              <label for="username">Number of Hours </label>
              <input
                type="number"
                id="sleepHours"
                min="0"
                name="sleepHours"
                class="form-control"
                placeholder="0"
                value="<%= typeof sleepHours != 'undefined' ? sleepHours : '' %>"
              />
            </div>
            <div class="form-row">
              <label for="password">Personal Daily Goal</label>
              <input
                type="number"
                id="sleepGoal"
                min="0"
                name="sleepGoal"
                class="form-control"
                placeholder="0"
                value="<%= typeof sleepGoal != 'undefined' ? sleepGoal : '' %>"
              />
            </div>
            <!-- </div>
            <div class="form-row">
              <label for="password">Monthly Goal</label>
              <input
                type="number"
                id="sleepGoal"
                min="0"
                name="sleepGoal"
                class="form-control"
                placeholder="0"
                value="<%= typeof sleepGoal != 'undefined' ? sleepGoal : '' %>"
              />
            </div> -->

            <div class="form-row"></div>

            <div class="form-row">
              <div class="col-lg-12">
                <button
                  type="submit"
                  class="btn btn-primary"
                  style="margin-top: 10px"
                  onclick="myFunction()"
                >
                  Update
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
<script>
  function myFunction() {
    alert("Updated Physical Activity");
  }
</script>
