<div class="app-main__inner">
	<div class="table-title">
		<div class="row">
			<div class="col-sm-6">
				<h2><b>Challenges</b></h2>
			</div>
		</div>
	</div>

	<div class="table-responsive">
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Sl.No</th>
					<th scope="col">Name</th>
					<th scope="col">Description</th>
					<th scope="col">Metrics</th>
					<th scope="col">Start Date</th>
					<th scope="col">End Date</th>
					<th scope="col">Status</th>
				</tr>
			</thead>
			<tbody>
				<% for( let i = 0; i < result.length; i++ ) { %>
				<tr>
					<td scope="row"> <%= i+1 %></td>
					<td><%= result[i].challengeName %></td>
					<td><%= result[i].challengeDescription %></td>
					<td><%= result[i].challengeType %></td>
					<td><%= result[i].startDate %></td>
					<td><%= result[i].endDate %></td>

					<td>
						<% 	if( result[i].activeUser  == 1) { %>

							<form action="/leaveChallenge/<%= result[i].challengeId%>" method="POST">
								<input type="submit" value="Leave" class="btn btn-danger" id="button" onclick="leftChallenge()"></input>
							</form>

						 <%   }else{ %>
							<form action="/joinChallenge/<%= result[i].challengeId%>" method="POST" >
								<input type="submit" value="Accept" class="btn btn-success" id="button" onclick="acceptChallenge()"></input>
							</form>

						<%  } %>
				 </td>

				</tr>
				<% } %>

			</tbody>
		</table>
	</div>
</div>
<script>
	function leftChallenge() {
	  alert("Left Challenge");
	}

	function acceptChallenge(){
	  alert("Accepted Challenge");
	}
  </script>
  <style>
	body {font-family: Arial, Helvetica, sans-serif;}
	* {box-sizing: border-box;}
	
	/* Button used to open the chat form - fixed at the bottom of the page */
	.open-button {
	  background-color: #555;
	  color: white;
	  padding: 16px 20px;
	  border: none;
	  cursor: pointer;
	  opacity: 0.8;
	  position: fixed;
	  bottom: 23px;
	  right: 28px;
	  width: 280px;
	}
	
	/* The popup chat - hidden by default */
	.chat-popup {
	  display: none;
	  position: fixed;
	  bottom: 0;
	  right: 15px;
	  border: 3px solid #d4d2d2;
	  z-index: 9;
	}
	
	/* Add styles to the form container */
	.form-container {
	  max-width: 300px;
	  padding: 12px;
	  background-color: rgb(231, 225, 225);
	}
	
	/* Full-width textarea */
	.form-container textarea {
	  width: 100%;
	  padding: 16px;
	  margin: 5px 0 22px 0;
	  border: none;
	  background: #eee5e5;
	  resize: none;
	  min-height: 200px;
	}
	
	/* When the textarea gets focus, do something */
	.form-container textarea:focus {
	  background-color: #ddd;
	  outline: none;
	}
	
	/* Set a style for the submit/send button */
	.form-container .btn {
	  background-color: #48dd4d;
	  color: white;
	  padding: 16px 20px;
	  border: none;
	  cursor: pointer;
	  width: 100%;
	  margin-bottom:10px;
	  opacity: 0.8;
	}
	
	/* Add a red background color to the cancel button */
	.form-container .cancel {
	  background-color: rgb(207, 48, 48);
	}
	
	/* Add some hover effects to buttons */
	.form-container .btn:hover, .open-button:hover {
	  opacity: 1;
	}
	</style>
	</head>
	<body>
	
	
	
	<button class="open-button" onclick="openForm()">Chat</button>
	
	<div class="chat-popup" id="myForm">
	  <form action="/action_page.php" class="form-container">
		<h1>Chat</h1>
	
		<label for="msg"><b>Message</b></label>
		<textarea placeholder="Type message.." name="msg" required></textarea>
	
		
	  </form>
	</div>
	
	<script>
	function openForm() {
	  document.getElementById("myForm").style.display = "block";
	}
	
	function closeForm() {
	  document.getElementById("myForm").style.display = "none";
	}
	</script>
	
	</body>