<div class="app-main__inner">
  <section>
    <div class="container app-container-wrapper">
      <div class="row justify-content-center">
        <div class="col-lg-4">
          <form method="POST" class="my-5">
            <div class="form-group">
              <%- include ('../partials/messages') %>
              <h3 class="d-flex justify-content-center py-3">
                Physical Activity
              </h3>
            </div>
            <div class="form-row">
              <label for="dateText"> Date</label>
              <input type="date" class="date form-control" id="datepicker1" name="datepicker1"
                            placeholder="mm/dd/yyyy" min='1899-01-01'>
              <!-- <input  id="demo" class="form-control" /> -->
            </div>

            <!-- <div class="form-group">
              <label>Choose Level</label>
              <%- include ('../partials/messages') %>
              <select id="level" class="form-control" name="level">
                <option value="Light">Light</option>
                <option value="Moderate">Moderate</option>
                <option value="Intense">Intense</option>
              </select>
            </div> -->
            <div class="form-row">
              <label for="username">Physical Activity(In Minutes)</label>
              <input
                type="number"
                id="physicalActivityMinutes"
                name="physicalActivityMinutes"
                min="0"
                step="0.01"
                class="form-control"
                placeholder="0"
                value="<%= typeof physicalActivityMinutes != 'undefined' ? physicalActivityMinutes : '' %>"
              />
            </div>
            <div class="form-row">
              <label for="password">Personal Daily Goal</label>
              <input
                type="number"
                id="physicalActivityGoal"
                name="physicalActivityGoal"
                min="0"
                step="0.01"
                class="form-control"
                placeholder="0"
                value="<%= typeof physicalActivityGoal != 'undefined' ? physicalActivityGoal : '' %>"
              />
            </div>
            <br />
            <!-- <div class="form-group">
              <label for="comments">Comments</label>
              <input
                type="text"
                value="<%= typeof comments != 'undefined' ? comments : '' %>"
                class="form-control"
                id="comments"
                aria-describedby="userNameHelp"
                placeholder="Enter your comments"
                name="comments"
              />
            </div> -->
            <div class="form-row"></div>

            <div class="form-row">
              <div class="col-lg-12">
                <button
                  type="submit"
                  class="btn btn-primary"
                  style="margin-top: 10px"
                >
                  Update
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
<script>

  let today = new Date();
  let dd = today.getDate();
  let mm = today.getMonth()+1; //January is 0!
  let yyyy = today.getFullYear();
   if(dd<10){
          dd='0'+dd
      } 
      if(mm<10){
          mm='0'+mm
      } 
  
  today = yyyy+'-'+mm+'-'+dd;
  document.getElementById("datepicker1").setAttribute("max", today);
  document.getElementById("datepicker1").value=today;
  
  $("#datepicker1").on("change",function(){
    let date=document.getElementById("datepicker1").value;
    $.ajax({
          type: 'GET',
          url: 'userPhysicalActivity/'+date,
          success: function(result) {
            document.getElementById("physicalActivityMinutes").value=result.physicalActivityMinutes;
            document.getElementById("physicalActivityGoal").value=result.physicalActivityGoal;
               //$('#champ').html(result);
          }
        });
  })
  </script>
