<div class="app-main__inner">

    <div class="container">
        <div class="main-body">
            <div class="row gutters-sm">

                <div class="form-group ml-5">
                    <form action="/progress" method="GET">
                        <label for="start" class="font-weight-bold">From:</label>
                        <input type="date" class="m-2 date" id="datepicker1" name="datepicker1" placeholder="mm/dd/yyyy"
                            value="<%= startDate %>">

                        <label for="start" class="font-weight-bold">To:</label>
                        <input type="date" class="m-2 date" id="datepicker2" name="datepicker2" placeholder="mm/dd/yyyy"
                            value="<%= endDate %>">

                        <button type="submit" id="PopoverCustomT-1" class="btn btn-info d-inline mb-1">Get Progress</button>
                    </form>
                </div>

                <div class="col-md-12">
                    <div class="card mb-3" style="height:auto;">
                        <div class="card-body">
                            <!-- <h3>Progress from <%= startDate %> to <%= endDate %>
                            </h3>
                            <hr> -->
                            <div class=" row">
                                <div class="col-sm-8">
                                    <h6 class="mb-0">Total step count:</h6>
                                </div>
                                <div class="col-sm-3 text-secondary">
                                    <%= result[0].stepCount %>
                                </div>
                            </div>
                            <hr>
                            <div class=" row">
                                <div class="col-sm-8">
                                    <h6 class="mb-0">Total sleep count:</h6>
                                </div>
                                <div class="col-sm-3 text-secondary">
                                    <%= result[0].sleepHours %>
                                </div>
                            </div>
                            <hr>
                            <div class=" row">
                                <div class="col-sm-8">
                                    <h6 class="mb-0">Total water consumed:</h6>
                                </div>
                                <div class="col-sm-3 text-secondary">
                                    <%= result[0].water %>
                                </div>
                            </div>

                            <hr>
                            <div class=" row">
                                <div class="col-sm-8">
                                    <h6 class="mb-0">Total Mindful minutes:</h6>
                                </div>
                                <div class="col-sm-3 text-secondary">
                                    <%= result[0].meTime %>
                                </div>
                            </div>
                            <hr>
                            <div class=" row">
                                <div class="col-sm-8">
                                    <h6 class="mb-0">Total Fruits count:</h6>
                                </div>
                                <div class="col-sm-3 text-secondary">
                                    <%= result[0].fruits %>
                                </div>
                            </div>

                            <hr>
                            <div class=" row">
                                <div class="col-sm-8">
                                    <h6 class="mb-0">Total vegetables count:</h6>
                                </div>
                                <div class="col-sm-3 text-secondary">
                                    <%= result[0].veggies %>
                                </div>
                            </div>
                            <hr>
                            <div class=" row">
                                <div class="col-sm-8">
                                    <h6 class="mb-0">Total physical activity minutes:</h6>
                                </div>
                                <div class="col-sm-3 text-secondary">
                                    <%= result[0].physicalActivityMinutes %>
                                </div>
                            </div>
                            

                        </div>
                    </div>
                </div>

				<div class="col-md-12">
					<div class="card mb-3" style="height: auto">
						<div class="card-body">
							<div class="form-group">
								<label for="step"> Step Count </label>
								<div class="progress">
									<div
										class="progress-bar step"
										id="step"
										role="progressbar"
										style="width: <%= stats.step%>%"
										aria-valuenow="60"
										aria-valuemin="0"
										aria-valuemax="100"
									>
										<%= stats.step %> %
									</div>
								</div>
							</div>

							<div class="form-group">
								<label for="step"> Sleep Count </label>
								<div class="progress">
									<div
										class="progress-bar step"
										id="sleep"
										role="progressbar"
										style="width: <%= stats.sleep%>%"
										aria-valuenow="60"
										aria-valuemin="0"
										aria-valuemax="100"
									>
										<%= stats.sleep %> %
									</div>
								</div>
							</div>

							<div class="form-group">
								<label for="step"> Mindful Minutes </label>
								<div class="progress">
									<div
										class="progress-bar step"
										id="sleep"
										role="progressbar"
										style="width: <%= stats.meTime%>%"
										aria-valuenow="60"
										aria-valuemin="0"
										aria-valuemax="100"
									>
										<%= stats.meTime %> %
									</div>
								</div>
							</div>

							<div class="form-group">
								<label for="step"> Water </label>
								<div class="progress">
									<div
										class="progress-bar step"
										id="sleep"
										role="progressbar"
										style="width: <%= stats.water%>%"
										aria-valuenow="60"
										aria-valuemin="0"
										aria-valuemax="100"
									>
										<%= stats.water %> %
									</div>
								</div>
							</div>

							<div class="form-group">
								<label for="step"> Fruits </label>
								<div class="progress">
									<div
										class="progress-bar step"
										id="sleep"
										role="progressbar"
										style="width: <%= stats.fruits%>%"
										aria-valuenow="60"
										aria-valuemin="0"
										aria-valuemax="100"
									>
										<%= stats.fruits %> %
									</div>
								</div>
							</div>

							<div class="form-group">
								<label for="step"> Veggies </label>
								<div class="progress">
									<div
										class="progress-bar step"
										id="sleep"
										role="progressbar"
										style="width: <%= stats.veggies%>%"
										aria-valuenow="60"
										aria-valuemin="0"
										aria-valuemax="100"
									>
										<%= stats.veggies %> %
									</div>
								</div>
							</div>

							<div class="form-group">
								<label for="step"> Physical Activity </label>
								<div class="progress">
									<div
										class="progress-bar step"
										id="sleep"
										role="progressbar"
										style="width: <%= stats.physical%>%"
										aria-valuenow="60"
										aria-valuemin="0"
										aria-valuemax="100"
									>
										<%= stats.physical %> %
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

            </div>
        </div>
    </div>
</div>
<style>
    h6 {
        font-weight: 500;
    }

    .date {
        padding: .5rem .75rem;
        font-size: 1rem;
        line-height: 1.25;
        color: #464a4c;
        background-color: #fff;
        background-image: none;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, .15);
        border-radius: .25rem;
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    }
    #PopoverCustomT-1{
        font-size: 1rem;
    }
</style>