
    <style>
        .mul-select{
            width: 100%;
        }
    </style>

<div class="app-main__inner">

    <div class="container-fluid col-md-8">
        <form action="/addChallenge" method="POST">
            <div class="form-group">
                <label>Name</label>
                <input type="text" name="name" class="form-control" required>
            </div>
            <div class="form-group">
                <label>Description</label>
                <input type="text" class="form-control" name="description" required></input>
            </div>

            <div class="form-group">
                <label for="challengeType"> Challenge Type </label>
                <select class="form-select" name="challengeType" multiple >
					<option value="Step Count">Step Count</option>
					<option value="Sleep Hours">Sleep Hours</option>
					<option value="Me Time">Me Time </option>
					<option value="Water"> Water </option>
					<option value="Fruits & Veggies"> Fruits & Veggies </option>
					<option value="Physical Activity">Physical Activity</option>

                </select>
            </div>



<!-- <form action="" method="POST">
	<div>
		<label for="addUser"><strong>Invite Users: </strong> </label>

		<select name="userId" class="form-control addUser">
			<% users.map(user=> { %>
				<option id="UI" value="<%= user.userId %>">  <%= user.userName %>
				</option>
				<% }) %>
		</select>
		<select class="mul-select" multiple="true" name="userId" class="form-control addUser">
			<% users.map(user=> { %>
				<option id="UI" value="<%= user.userId %>">  <%= user.userName %> <%= user.userId %>
				</option>
				<% }) %>
		</select>

	</div>
</form> -->
            <div class="form-group">
                <label for="start">Start date:</label>
                <input type="date" id="start" name="startDate" placeholder="2020-07-20">
            </div>

            <div class="form-group">
                <label for="start">End date:</label>
                <input type="date" id="end" name="endDate" placeholder="2020-07-22">
            </div>

			<div class="form-group" hidden>

			</div>

            <div>
                <input type="submit" onclick="postUsers()" value="submit" class="btn btn-primary btn-sm">
            </div>
        </form>
    </div>

</div>


<script>
	$(document).ready(function(){
		$(".mul-select").select2({
				placeholder: "Select Users", //placeholder
				tags: true,
				tokenSeparators: ['/',',',';'," "] 
			});
		})
	
	function postUsers(){
		// let ii =  document.getElementsByClassName("mul-select").item(0)
		// console.log(ii, "=============> UI")

		let m = document.getElementsByClassName("select2-selection__rendered").item(0).innerText
		let users = m.replace(/(\r\n|\n|\r)/gm, " ").split(' ')
		const filUsers = users.filter((user) => user !== "×");
		console.log(filUsers,"=======> users after filtering");
	}

	$('option').mousedown(function(e) {
    e.preventDefault();
    var originalScrollTop = $(this).parent().scrollTop();
    console.log(originalScrollTop);
    $(this).prop('selected', $(this).prop('selected') ? false : true);
    var self = this;
    $(this).parent().focus();
    setTimeout(function() {
        $(self).parent().scrollTop(originalScrollTop);
    }, 0);
    
    return false;
});

</script>