<div class="app-main__inner">


    <h1> Step statistics </h1>


    <table class="table">
        <thead class="thead-dark">
            <tr>
            <tr>
                <th scope="col">User ID</th>
                <th scope="col">User Name </th>
                <th scope="col">Step Count</th>
                <th scope="col"> Date </th>
                <th scope="col">Target Step Count</th>
                <th scope="col">Average Step Count</th>
            </tr>
            </tr>
        </thead>
        <tbody>
        <tbody>
            <% for(var i=0; i < obj.length; i++) { %>

            <tr>
                <td>
                    <%= obj[i].userId %>
                </td>
                <td>
                    <a href="/getUserTotalMetrics/<%= obj[i].userId%>"><%= obj[i].fullName %></a>
                </td>
                <td>
                    <%= obj[i].stepCount %>
                </td>
                <td>
                    <%= obj[i].date %>
                </td>

                <td>
                    <%= obj[i].stepGoal %>
                </td>
                <td><%= obj[i].stepCount %></td>

            </tr>
            <% } %>

        </tbody>
        </tbody>
    </table>

</div>