<div class="app-main__inner">

    <h2> Selected date range values </h2>

    <div class="col-md-8">
        <div class="card mb-3" style="height:auto;">
            <div class="card-body">

                <div class=" row">
                    <div class="col-sm-8">
                        <h6 class="mb-0">Total step count within the range:</h6>
                    </div>
                    <div class="col-sm-3 text-secondary">
                        <%= result[0].total %>
                    </div>
                </div>
                <hr>
                <div class=" row">
                    <div class="col-sm-8">
                        <h6 class="mb-0">Total sleep count within the range:</h6>
                    </div>
                    <div class="col-sm-3 text-secondary">
                        <%= result[0].totalSleep %>
                    </div>
                </div>
                <hr>
                <div class=" row">
                    <div class="col-sm-8">
                        <h6 class="mb-0">Total water consumed within the range:</h6>
                    </div>
                    <div class="col-sm-3 text-secondary">
                        <%= result[0].totalWater %>
                    </div>
                </div>

                <hr>
                <div class=" row">
                    <div class="col-sm-8">
                        <h6 class="mb-0">Total Mindful minutes within the range:</h6>
                    </div>
                    <div class="col-sm-3 text-secondary">
                        <%= result[0].totalMe %>
                    </div>
                </div>
                <hr>
                <div class=" row">
                    <div class="col-sm-8">
                        <h6 class="mb-0">Total Fruit count within the range:</h6>
                    </div>
                    <div class="col-sm-3 text-secondary">
                        <%= result[0].totalFruits %>
                    </div>
                </div>

                <hr>
                <div class=" row">
                    <div class="col-sm-8">
                        <h6 class="mb-0">Total vegetables count within the range:</h6>
                    </div>
                    <div class="col-sm-3 text-secondary">
                        <%= result[0].totalVeggies %>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>