<div class="app-main__inner">

    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                    <h2> <b>User Profile of: <%= userName%> </b> </h2>
                </div>

            </div>
        </div>
        <br>
        <div class="row">userId: <%= userId%>
        </div><br>
        <div class="row">userName: <%= userName%>
        </div><br>
        <div class="row">password: <%= password%>
        </div><br>
        <div class="row">admin: <%= admin%>
        </div><br>
        <div class="row">email: <%= email%>
        </div><br>
        <div class="row">fullName: <%= fullName%>
        </div><br>
        <div class="row">gender: <%= gender%>
        </div><br>
        <div class="row">dateOfBirth: <%= dateOfBirth%>
        </div><br>
        <div class="row">age: <%= age%>
        </div><br>
        <div class="row">currentWeight: <%= cureentWeight%>
        </div><br>
        <div class="row">desiredWeight: <%= desiredWeight%>
        </div><br>
        <div class="row">height: <%= height%>
        </div><br>
        <div class="row">averageActivityLevel: <%= averageActivityLevel%>
        </div><br>
        <div class="row">country: <%= country%>
        </div><br>
        <div class="row">state: <%= state%>
        </div><br>
        <br>
    </div>
</div>