<div class="app-main__inner">


    <h1> Vegetable statistics </h1>


    <table class="table">
        <thead class="thead-dark">
            <tr>
            <tr>
                <th scope="col">User ID</th>
                <th scope="col">User Name </th>
                <th scope="col">Vegetables count</th>
                <th scope="col"> Date </th>
                <th scope="col">Target Vegetables count</th>
            </tr>
            </tr>
        </thead>
        <tbody>
        <tbody>
            <% for(var i=0; i < obj.length; i++) { %>

            <tr>
                <td>
                    <%= obj[i].userId %>
                </td>
                <td>
                    <%= obj[i].fullName %>
                </td>
                <td>
                    <%= obj[i].veggies %>
                </td>
                <td>
                    <%= obj[i].date %>
                </td>

                <td>
                    <%= obj[i].veggieGoal %>
                </td>
            </tr>
            <% } %>

        </tbody>
        </tbody>
    </table>

</div>