<div class="app-main__inner">
    <div class="container">
        <div class="main-body">
            <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                    <div class="card" style="height: auto;">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img src="/static/assets/images/happyHealth/userIcon3.png" alt="image not found"
                                     width="200">
                                <div class="mt-3">
                                    <h4><%= result[0].fullName%></h4>
                                    <p class="text-secondary mb-1">@<%= result[0].userName%></p>
                                </div>
                            </div>
                            <!-- <div class="col-md-12">
                                <form method="get" action="">
                                    <button class="btn btn-primary btn-lg btn-md btn-sm"><i class="fa fa-edit"></i> Edit Info</button>
                                </form>
                            </div> -->
                        </div>
                    </div>

                </div>
                <div class="col-md-8">
                    <div class="card mb-3" style="height:auto;">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">User ID:</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <%= result[0].userId%>
                                </div>
                            </div>
                            <hr>
                            <!-- <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Password:</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <%= result[0].password%>
                                </div>
                            </div>
                            <hr> -->
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">First Name:</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <%= result[0].fullName.split(" ")[0]%>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Last Name:</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <%= result[0].fullName.split(" ")[1]%>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Email:</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <%= result[0].email%>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Admin:</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <%= result[0].admin%>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Gender:</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <%= result[0].gender%>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Date Of Birth:</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <%= result[0].dateOfBirth%>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Age:</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <%= result[0].age%>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Current Weight:</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <%= result[0].currentWeight%>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Desired Weight:</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <%= result[0].desiredWeight%>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Height:</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <%= result[0].height%>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Country:</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <%= result[0].country%>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">State:</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <%= result[0].state%>
                                </div>
                            </div>

                        </div>
                        <!-- <form action="editUser/<%= result.userId%>" method="get">
                            <button type="submit" id="PopoverCustomT-1" class="btn btn-primary btn-sm">Upddate</button>
                        </form> -->
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-md-12">

            <div class="col-md-12">
                <div class="row">

                    <div class="col-md-4">
                        <h5>User ID:</h5>
                    </div>
                    <div class="col-md-8">
                        <h5><%= result[0].userId%></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                    <h2> <b>User Profile of: <%= result[0].userName%> </b> </h2>
                </div>

            </div>
        </div>
        <br>

        <div class="row">User ID: <%= result[0].userId%>
        </div><br>
        <div class="row">User Name: <%= result[0].userName%>
        </div><br>
        <div class="row">Password: <%= result[0].password%>
        </div><br>
        <div class="row">Admin: <%= result[0].admin%>
        </div><br>
        <div class="row">Email Address: <%= result[0].email%>
        </div><br>
        <div class="row">full Name: <%= result[0].fullName%>
        </div><br>
        <div class="row">Gender: <%= result[0].gender%>
        </div><br>
        <div class="row">Date Of Birth: <%= result[0].dateOfBirth%>
        </div><br>
        <div class="row">Age: <%= result[0].age%>
        </div><br>
        <div class="row">Current Weight: <%= result[0].cureentWeight%>
        </div><br>
        <div class="row">Desired Weight: <%= result[0].desiredWeight%>
        </div><br>
        <div class="row">Height: <%= result[0].height%>
        </div><br>
        <div class="row">Average Activity Level: <%= result[0].averageActivityLevel%>
        </div><br>
        <div class="row">Country: <%= result[0].country%>
        </div><br>
        <div class="row">State: <%= result[0].state%>
        </div><br>
        <br>
    </div> -->
</div>