<!-- <div class="app-main__inner">

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 card" style="background-color:hsla(0, 100%, 90%, 0.3);" onclick="location.href = '/adminAnalyticsStep';">
                <h4>Step</h4>
                <img src="/static/assets/images/happyHealth/step.png" alt="user_stat">
                <button type="submit" class="btn btn-outline-secondary"
                    ><b>step analytics</b></button>
            </div>
            <div class="col-sm-3 card" style="background-color:#d8dadb;" onclick="location.href = '/adminAnalyticsSleep';">
                <h4>Sleep</h4>
                <img src="/static/assets/images/happyHealth/sleep.jpg" alt="user_stat">
                <button type="submit" class="btn btn-outline-secondary"
                    ><b>sleep Analytics</b></button>
            </div>
            <div class="col-sm-3 card" style="background-color:#c2dfff;" onclick="location.href = '/adminAnalyticsWater';">
                <h4>Water intake</h4>
                <img src="/static/assets/images/happyHealth/water.png" alt="challenge_mgmt">
                <button type="submit" class="btn btn-outline-secondary"
                    ><b>water intake analytics</b></button>
            </div>

            <div class="col-sm-3 card" style="background-color:#fcd999;" onclick="location.href = '/adminAnalyticsMeditation';">
                <h4>Track-me-time</h4>
                <img src="/static/assets/images/happyHealth/meditation.png" alt="user_stat">
                <button type="submit" class="btn btn-outline-secondary"
                    ><b>track-me-time
                    analytics</b></button>
            </div>

            <div class="col-sm-3 card" style="background-color: #e5ffcc;" onclick="location.href = '/adminAnalyticsFruits';">
                <h4>Fruits Intake</h4>
                <img src="/static/assets/images/happyHealth/fruits.png" alt="user_fruits">
                <button type="submit" class="btn btn-outline-secondary"
                    ><b>Fruits
                    intake analytics</b> </button>
            </div>

            <div class="col-sm-3 card" style="background-color: #98ff98;" onclick="location.href = '/adminAnalyticsVegetables';">
                <h4>Vegetables Intake</h4>
                <img src="/static/assets/images/happyHealth/vegetable.png" alt="user_vegetables">
                <button type="submit" class="btn btn-outline-secondary"
                    ><b>Vegetables intake analytics</b></button>
            </div>

            <div class="col-sm-3 card" style="background-color:rgb(236, 191, 161);" onclick="location.href = '/adminAnalyticsOverAll';">
                <h4>OverAll Metrics</h4>
                <img src="/static/assets//images/happyHealth/statistics.png" alt="user_metrics">
                <button type="submit" class="btn btn-outline-secondary"
                    ><b>Overall user analytics</b></button>
            </div>
        </div>
    </div>
</div> -->
<div class="app-main__inner">


    <h1> OverAll Statistics </h1>


    <table class="table">
        <thead class="thead-dark">
            <tr>
            <tr>
                <th scope="col">User ID</th>
                <th scope="col">UserName </th>
                <th scope="col">User Full Name</th>
                <th scope="col"> Date </th>
                <th scope="col"> Step Count </th>
                <th scope="col"> Target step count </th>
                <th scope="col"> Sleeping hours </th>
                <th scope="col"> Target sleep hours </th>
                <th scope="col"> Meditation time </th>
                <th scope="col"> Target meditation time </th>
                <th scope="col"> Water count </th>
                <th scope="col"> Target water count </th>
                <th scope="col">Vegetables count</th>                
                <th scope="col"> Target Vegetables count</th>
                <th scope="col"> Fruits count </th>
                <th scope="col"> Target fruits count </th>
            </tr>
            </tr>
        </thead>
        <tbody>
        <tbody>
            <% for(var i=0; i < obj.length; i++) { %>

            <tr>
                <td>
                    <%= obj[i].userId %>
                </td>
                <td>
                    <%= obj[i].UserName %>
                </td>
                <td>
                    <%= obj[i].fullName %>
                </td>
                <td>
                    <%= obj[i].date %>
                </td>
                <td>
                    <%= obj[i].stepCount %>
                </td>
                <td>
                    <%= obj[i].stepGoal %>
                </td>
                <td>
                    <%= obj[i].sleepHours %>
                </td>
                <td>
                    <%= obj[i].sleepGoal %>
                </td>
                <td>
                    <%= obj[i].meTime %>
                </td>
                <td>
                    <%= obj[i].meTimeGoal %>
                </td>
                <td>
                    <%= obj[i].water %>
                </td>
                <td>
                    <%= obj[i].waterGoal %>
                </td>
                <td>
                    <%= obj[i].veggies %>
                </td>            
                <td>
                    <%= obj[i].veggieGoal %>
                </td>
                <td>
                    <%= obj[i].fruits %>
                </td>
                <td>
                    <%= obj[i].fruitGoal %>
                </td>
            </tr>
            <% } %>

        </tbody>
        </tbody>
    </table>

</div>