<div class="app-main__inner">

    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                    <h2> <b>User Profile of: <%= result[0].userName%> </b> </h2>
                </div>

            </div>
        </div>
        <br>
        <div class="row">User ID: <%= result[0].userId%>
        </div><br>
        <div class="row">User Name: <%= result[0].userName%>
        </div><br>
        <div class="row">Password: <%= result[0].password%>
        </div><br>
        <div class="row">Admin: <%= result[0].admin%>
        </div><br>
        <div class="row">Email Address: <%= result[0].email%>
        </div><br>
        <div class="row">full Name: <%= result[0].fullName%>
        </div><br>
        <div class="row">Gender: <%= result[0].gender%>
        </div><br>
        <div class="row">Date Of Birth: <%= result[0].dateOfBirth%>
        </div><br>
        <div class="row">Age: <%= result[0].age%>
        </div><br>
        <div class="row">Current Weight: <%= result[0].cureentWeight%>
        </div><br>
        <div class="row">Desired Weight: <%= result[0].desiredWeight%>
        </div><br>
        <div class="row">Height: <%= result[0].height%>
        </div><br>
        <div class="row">Average Activity Level: <%= result[0].averageActivityLevel%>
        </div><br>
        <div class="row">Country: <%= result[0].country%>
        </div><br>
        <div class="row">State: <%= result[0].state%>
        </div><br>
        <br>
    </div>
</div>