<div class="app-main__inner">


    <h1> OverAll Statistics </h1>


    <table class="table">
        <thead class="thead-dark">
            <tr>
            <tr>
                <th scope="col">User ID</th>
                <th scope="col">User Name </th>
                <th scope="col"> Date </th>
                <th scope="col"> Step Count </th>
                <th scope="col"> Target step count </th>
                <th scope="col"> Sleeping hours </th>
                <th scope="col"> Target sleep hours </th>
                <th scope="col"> Meditation time </th>
                <th scope="col"> Target meditation time </th>
                <th scope="col"> Water count </th>
                <th scope="col"> Target water count </th>
                <th scope="col">Vegetables count</th>                
                <th scope="col"> Target Vegetables count</th>
                <th scope="col"> Fruits count </th>
                <th scope="col"> Target fruits count </th>
            </tr>
            </tr>
        </thead>
        <tbody>
        <tbody>
            <% for(var i=0; i < obj.length; i++) { %>

            <tr>
                <td>
                    <%= obj[i].userId %>
                </td>
                <td>
                    <%= obj[i].fullName %>
                </td>
                <td>
                    <%= obj[i].date %>
                </td>
                <td>
                    <%= obj[i].stepCount %>
                </td>
                <td>
                    <%= obj[i].stepGoal %>
                </td>
                <td>
                    <%= obj[i].sleepHours %>
                </td>
                <td>
                    <%= obj[i].sleepGoal %>
                </td>
                <td>
                    <%= obj[i].meTime %>
                </td>
                <td>
                    <%= obj[i].meTimeGoal %>
                </td>
                <td>
                    <%= obj[i].water %>
                </td>
                <td>
                    <%= obj[i].waterGoal %>
                </td>
                <td>
                    <%= obj[i].veggies %>
                </td>            
                <td>
                    <%= obj[i].veggieGoal %>
                </td>
                <td>
                    <%= obj[i].fruits %>
                </td>
                <td>
                    <%= obj[i].fruitGoal %>
                </td>
            </tr>
            <% } %>

        </tbody>
        </tbody>
    </table>

</div>