<div class="app-main__inner">

	<div class="container col-md-6"> 

		<form action="/postAnnouncement" method="POST" >
			<div class="form-group">
		  <label>Announcement Title</label>
		  <input  class="form-control"  id="title" type="text" name="title"  required>
		</div>
		<div class="form-group">
		  <label> Description</label>
		  <input  class="form-control"  id="message" type="text" name="description" required>
		</div>

		<!-- <div class="form-group">
		<label for="selectUsers" >  </label>
		<select id="users"  name="type" type="number" class="mul-select col-md-12" multiple="true">
			<% users.map(user=> { %>
				<option id="UI" value="<%= user.userId %>">  <%= user.userName %>
				</option>
				<% }) %>
		</select>
		</div> -->

		<div class="form-group">
			<label for="selectUsers" >  </label>
		<select name="users" id="users" type="number" class="select form-control mul-select col-md-12"   MULTIPLE size="4">
			<option selected disabled value="---">---</option>
			<% users.map(user=> { %>
				<option id="UI" value="<%= user.userId %>">  <%= user.userName %>
				</option>
				<% }) %>
		 </select>
		 </div>
		 <br />
		 <!-- <input type="button" id="select_all" name="select_all" value="Select All"> -->

		
		<div class="btn-toolbar">
			<input type="submit" id="select_all" name="select_all" value="Send to Everyone"
			class="btn btn-sm btn-md btn-danger" onclick="published()"></input>
			<input type="submit" id="select_indi" value="Send Selected Individuals" class="btn btn-sm btn-md btn-danger"></input>
		</div>


		<div class="form-group">
			<label for="selectUsers" >  </label>
			<select id="challenges"  name="challenge" type="number" class="mul-select col-md-12" multiple="true">
				<% challenges.map(challenge=> { %>
					<option id="UI" value="<%= challenge.challengeId %>">  <%= challenge.challengeName %>
					</option>
					<% }) %>
			</select>
		</div>

		<div class="btn-toolbar">
			<input type="submit" id="select_all_groups" name="select_all_groups" value="Send to All Groups "
				class="btn btn-sm btn-md btn-danger" onclick="published()"></input>
			<input type="submit" id="PopoverCustomT-1" value="Send Selected Groups" class="btn btn-sm btn-md btn-danger" onclick="published()"></input>
		</div>


			

	</form>

	</div>





    <!-- <form action="/postAnnouncement" method="POST" >
    

    <div class="form-row">
        <div class="col-sm-6">
            <h4><b>New Message Title:</b></h4>
        </div>
        <div class="col-sm-6">
            <input id="title" type="text" name="title"  required>
        </div>
    </div>
    <div class="form-row">
        <div class="col-sm-6">
            <h4><b>Write Message:</b></h4>
        </div>
        <div class="col-sm-6">
            <input id="message" type="text" name="description" required>
        </div>
    </div>
    <div class="form-row">
		
        <div class="col-sm-12">
            <input type="submit" id="PopoverCustomT-1" name="type" value="Send to Everyone"
                    class="btn btn-sm btn-md btn-danger" onclick="published()"></input>
						<label for="selectUsers" >  </label>
						<select id="users"  name="type" type="number" class="mul-select col-md-6" multiple="true">
							<% users.map(user=> { %>
								<option id="UI" value="<%= user.userId %>">  <%= user.userName %>
								</option>
								<% }) %>
						</select>

			<input type="submit" id="PopoverCustomT-1" value="Send Selected Individuals" class="btn btn-sm btn-md btn-danger" onclick="published()"></input>
        </div>
    </div>

</form> -->

</div>

<script>
    function published(){
        alert("Announcement Posted");
    }

	function selectedItems(){

	var userResult = document.getElementById("usersResult");
				userResult.value = "";
				var x = document.getElementById("users");
				for(var i = 0;i<x.options.length;i++){
					if(x.options[i].selected === true){
						userResult.value += x.options[i].value+" ";
						document.getElementById("usersResult").value= userResult.value;
					}
					console.log(userResult.value, "===========> ")
				}
			}

			function selectedUsers(){
				var userResult = document.getElementById("usersResult");
				userResult.value = "";
				var x = document.getElementById("users");
				for(var i = 0;i<x.options.length;i++){
					if(x.options[i].selected === true){
						userResult.value += x.options[i].value+" ";
						document.getElementById("usersResult").value= userResult.value;
					}
				}
				// if(document.getElementById("usersResult").value == ""){
				// 	document.getElementById("usersResult").innerHTML = "Please select atleast one. "
				// }
			}

			$('option').mousedown(function(e) {
    e.preventDefault();
    var originalScrollTop = $(this).parent().scrollTop();
    console.log(originalScrollTop);
    $(this).prop('selected', $(this).prop('selected') ? false : true);
    var self = this;
    $(this).parent().focus();
    setTimeout(function() {
        $(self).parent().scrollTop(originalScrollTop);
    }, 0);
    
    return false;
});

$('#select_all').click(function() {
$('#users option').prop('selected', true);
});

$('#select_all_groups').click(function() {
$('#challenges option').prop('selected', true);
});

$(document).ready(function () {
    $('#select_indi').click(function() {
      check = $('option[disabled]:selected').length;
      if(check == 3) {
        alert("You must select an option from at least one dropdown");
        return false;
      }

    });
});




</script>