<div class="app-main__inner">

    <h1> Admin Metrics </h1>

    <div class="col-md-8">
        <div class="card mb-3" style="height:auto;">
            <div class="card-body">

                
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">First Name:</h6>
                        
                    </div>
                    <div class="col-sm-9 text-secondary">
                        
                    </div>
                </div>
                <hr>
                <div class=" row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Last Name:</h6>
                        
                    </div>
                        <div class="col-sm-9 text-secondary"> 
                           
                        </div>
                </div>
                
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Total step count: <%= result[0].total %></h6>
                        
                    </div>
                    <div class="col-sm-9 text-secondary">
                       
                    </div>
                </div>
              
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Total Sleep count: <%= result[0].totalSleep %></h6>
                        
                    </div>
                    <div class="col-sm-9 text-secondary">
                        
                    </div>
                </div>
                
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Total water consumed:  <%= result[0].totalWater %></h6>
                       
                    </div>
                    <div class="col-sm-9 text-secondary">
                        
                    </div>
                </div>
                
                
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Total Mindful minutes: <%= result[0].totalMe %></h6>
                        
                    </div>
                    <div class="col-sm-9 text-secondary">
                        
                    </div>
                </div>
                <hr>
                
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Total Fruits count: <%= result[0].totalFruits %></h6>
                        
                    </div>
                    <div class="col-sm-9 text-secondary">
                      
                    </div>
                </div>
               
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Total vegetables count: <%= result[0].totalVeggies %></h6>
                        
                    </div>
                    <div class="col-sm-9 text-secondary">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>