<div class="app-main__inner">
  <div class="table-title">
    <div class="row">
      <div class="col-sm-6">
        <h2><b>Challenge Management</b></h2>
      </div>
      <div class="col-sm-4">
        <button type="button" class="btn btn-primary" onclick="location.href = '/addChallenge'">Add New
          Challenge</button>
      </div>
    </div>
  </div>


  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Sl.No</th>
        <th>Name</th>
        <th>Description</th>
        <th>Type</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Participant Type</th>
        <th>Participants count</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>

    <tbody>
      <% for (var i = 0; i < result.length; i++) { %>
      <tr>
        <th scope="row"><%= i+1 %></th>
        <td>
          <a href="/manageChallengeUsers/<%= result[i].challengeId %>">
            <%= result[i].challengeName %>
          </a>
        </td>
        <td><%= result[i].challengeDescription %></td>
        <td><%= result[i].challengeType %></td>
        <td><%= result[i].startDate %></td>
        <td><%= result[i].endDate %></td>
        <td><%= result[i].participantType %></td>
        <td><%= result[i].participantCount %></td>


        <td>
          <form action="/editChallenge/<%= result[i].challengeId %>" method="get">
            <a href="/editChallenge/<%= result[i].challengeId %>" > Edit </a> 
          </form> 
        </td>


        <td>
          <form action="/deleteChallenge/<%= result[i].challengeId %>" method="post">
            <input type="submit" onclick="startCount()" value="Delete" class="btn btn-danger"></input>
          </form>
        </td>

        <script>

          function startCount() {
            const desiredTimeInMilliSeconds = 200;
            setTimeout(function () {
              window.location = window.location;
            }, desiredTimeInMilliSeconds)
          }


        </script>

      </tr>
      <% } %>
    </tbody>
  </table>