<div class="app-main__inner">

    <% if ( challengeData[0].participantType=='Group' ) { %>
        <div>
            <h1> <b>Manage Groups</b> </h1>
            <h2>Challenge Name : <%= challengeData[0].challengeName %>
            </h2>
            <h3>Participant Type: <%= challengeData[0].participantType %>
            </h3>

        </div>

        <form>
            <label for="user"> Select Groups: </label>

            <div class="form-group">
                <select class="selectpicker form-control col-md-4">
                    <option selected>Avengers</option>
                    <option>Champions</option>
                    <option>Legends</option>
                    <option>Bosses</option>
                    <option>Power Rangers</option>
                    <option>Thunder Guys</option>
                </select>

            </div>
            <input type="submit" value="Add"> </input>
        </form>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Group Name</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Delta Blues</td>
                    <td> <button type="button" class="btn btn-primary">Edit</button></td>
                    <td> <button type="button" class="btn btn-danger">Delete</button></td>
                </tr>

                <tr>
                    <th scope="row">2</th>
                    <td>Golden Archers</td>
                    <td> <button type="button" class="btn btn-primary">Edit</button></td>
                    <td> <button type="button" class="btn btn-danger">Delete</button></td>
                </tr>

                <tr>
                    <th scope="row">3</th>
                    <td>Little Colonels</td>
                    <td> <button type="button" class="btn btn-primary">Edit</button></td>
                    <td> <button type="button" class="btn btn-danger">Delete</button></td>
                </tr>

            </tbody>
        </table>

        <% } else { %>

            <div>

                <!-- <h1> <b>Manage Users</b> </h1> -->
                <h3>Challenge Name : <%= challengeData[0].challengeName %>
                </h3>
            </div>

            <form action="<%= challengeData[0].challengeId%>" method="POST">
                <div>
                    <label for="addUser"><strong>Invite User: </strong> </label>

                    <select name="userId" class="form-control addUser " multiple="true">
                        <% for (var i=0; i < notJoinedUsers.length;i++) { %>
                            <option value="<%= notJoinedUsers[i].userId %>">
                                <%= notJoinedUsers[i].userName %>
                            </option>
                            <% } %>

                                <% if(notJoinedUsers.length===0){ %>
                                    <option disabled>
                                        All Users are invited
                                    </option>
                                    <% } %>
                    </select>

                    <input type="submit" value="Invite" id="inviteBtn" class="btn btn-primary"></input>
                </div>

            </form>

            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Sl.No</th>
                        <th>Username</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (var i=0; i < joinedUsers.length;i++) { %>
                        <tr>
                            <th scope="row">
                                <%= i+1 %>
                            </th>
                            <td>
                                <%= joinedUsers[i].userName%>
                            </td>
                            <td>
                                <% if( joinedUsers[i].activeUser==1) { %>
                                    Joined
                                    <% }else{ %>
                                        Pending
                                        <% } %>
                            </td>
                            <td>
                                <form
                                    action="/removeUser/<%= challengeData[0].challengeId%>/<%= joinedUsers[i].userId%>"
                                    method="POST">

                                    <% if( joinedUsers[i].activeUser ) { %>
                                        <button type="submit" id="PopoverCustomT-1"
                                            class="btn btn-primary btn-danger">Remove</button>
                                        <% }else{ %>
                                            <button type="submit" id="PopoverCustomT-1"
                                                class="btn btn-primary btn-warning">Cancel Invitation</button>
                                            <% } %>

                                </form>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>

            <% } %>

                <!-- <div>
				<%= notJoinedUsers[0] %>
			</div> -->


</div>

<script>

    // const notJoinedUsers = "<%= notJoinedUsers.length %>"
    // console.log( '<%= notJoinedUsers.length %>' === '0' ,"-----------not Joined user");

    var button = document.getElementById("inviteBtn");

    if ('<%= notJoinedUsers.length %>' === '0') {
        button.disabled = true;
    } else {
        button.disabled = false;
    }


    function selectedItems() {
        // GETTING USERS 
        var userResult = document.getElementById("usersResult");
        userResult.value = "";
        var x = document.getElementById("users");
        for (var i = 0; i < x.options.length; i++) {
            if (x.options[i].selected === true) {
                userResult.value += x.options[i].value + " ";
                document.getElementById("usersResult").value = userResult.value;
            }
            console.log(userResult.value, "===========> ")
        }
    }

    function selectedUsers() {
        var userResult = document.getElementById("usersResult");
        userResult.value = "";
        var x = document.getElementById("users");
        for (var i = 0; i < x.options.length; i++) {
            if (x.options[i].selected === true) {
                userResult.value += x.options[i].value + " ";
                document.getElementById("usersResult").value = userResult.value;
            }
        }
        // if(document.getElementById("usersResult").value == ""){
        // 	document.getElementById("usersResult").innerHTML = "Please select atleast one. "
        // }
    }

    $('option').mousedown(function (e) {
        e.preventDefault();
        var originalScrollTop = $(this).parent().scrollTop();
        console.log(originalScrollTop);
        $(this).prop('selected', $(this).prop('selected') ? false : true);
        var self = this;
        $(this).parent().focus();
        setTimeout(function () {
            $(self).parent().scrollTop(originalScrollTop);
        }, 0);

        return false;
    });




</script>

<style>
    .addUser {
        width: 250px;
        display: inline-flex;
    }

    .btn {
        display: inline-flex;
    }
</style>