<div class="app-main__inner">

    <div class="container-fluid col-md-6">
        <form action="/editChallenge/<%= result[0].challengeId %>" method="POST">
            <div class="form-group">
                <label>Name</label>
                <input type="text" name="name" value="<%= result[0].challengeName %>" class="form-control" required>
            </div>
            <div class="form-group">
                <label>Description</label>
                <input type="text" class="form-control" name="description" value="<%= result[0].challengeDescription %>"
                    required></input>
            </div>

            <div class="form-group">
                <label for="challengeType"> Challenge Type </label>
                <select class="form-select" name="challengeType" id="challengeId">
                    <option value="Running Challenges"> Running Challenges </option>
                    <option value="Cycling Challenges"> Cycling Challenges </option>
                    <option value="Calories Burned Challenge"> Calories Burned Challenge</option>
                    <option value="Weight Loss Challenge "> Weight Loss Challenge </option>
                    <option value="Swimming Challenge"> Swimming Challenge </option>
                    <option value="Cardio Challenge"> Cardio Challenge </option>
                    <option value="Walking Challenge"> Walking Challenge </option>
                    <option value="Sports Challenge"> Sports Challenge </option>
                </select>
            </div>

            <div class="form-group">
                <label for="partcipantType"> Participant Type </label>
                <select class="form-select" name="participantType" id="participantId">
                    <option value="Group"> Group </option>
                    <option value="Individual"> Individual </option>
                </select>
            </div>

            <div class="form-group">
                <label>Participant Count</label>
                <input type="number" name="participantCount" value="<%= result[0].participantCount %>"
                    class="form-control" required>
            </div>


            <div class="form-group">
                <label for="start">Start date:</label>
                <input type="date" id="startId" name="startDate" placeholder="mm/dd/yyyy">
            </div>

            <div class="form-group">
                <label for="start">End date:</label>
                <input type="date" id="endId" name="endDate" placeholder="mm/dd/yyyy">
            </div>

            <div>
                <input type="submit" value="Update" class="btn btn-primary btn-sm">
            </div>
        </form>
    </div>

</div>
<script type="text/javascript">
    let startDate = "<%= result[0].startDate %>"
    console.log(startDate, "---------before");
    const [month, date, year] = startDate.split("/")
    startDate = year + '-' + month + '-' + date
    console.log(startDate, "----------after");
    $('#startId').val(startDate)
    let endDate = "<%= result[0].endDate %>"
    const [m, d, y] = endDate.split("/")
    endDate = y + '-' + m + '-' + d
    console.log(endDate, "----------after");
    $('#endId').val(endDate)
    let challengeType = "<%= result[0].challengeType %>"
    let participantType = "<%= result[0].participantType %>"
    console.log(challengeType,participantType,"------challenge participant type");
    $('#challengeId').val(challengeType)
    $('#participantId').val(participantType)
</script>