<div class="app-main__inner">

    

    <form action="/updateGroup/<%= resss.groupId%>" method="post">
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="validationDefault01">Group name</label>
                <input type="text" name="groupName" class="form-control" id="groupName" placeholder="Group name"
                    value="<%= resss.groupName%>" required>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationDefault02">Creator</label>
                <input type="text" name="creator" class="form-control" id="creatorName" placeholder=""
                    value="<%= resss.creator%>" required>
            </div>


            <div class="col-md-4 mb-3">
                <label for="validationDefault03">Created Date</label>
                <input type="tex" name="createdDate" onclick="(this.type='date') " onclick="(this.placeholder='<%= resss.createdDate  %>')" class="form-control" value="<%= resss.createdDate  %>" required>
            </div>


        </div>
        <button class="btn btn-primary" type="submit">Update Group</button>
    </form>


</div>