<div class="app-main__inner">


    <% if (!joinedUsers[0]) { %>

        <div class="col-sm-12 row">
            <div class="col-sm-12">
                <div class="form-group col-sm-3">
                    <select id="inputState" class="form-control">
                        <!-- <option selected></option> -->
                        <% for (var i=0; i < notJoinedUsers.length;i++) { %>
                            <option>
                                <%= notJoinedUsers[i].username %>
                            </option>
                            <% } %>
                    </select>

                    <input type="submit" name="Add User"></input>

                </div>

            </div>
        </div>

        <% } else{ %>
            <div class="table-wrapper">
                <div class="col-sm-12 row">
                    <div class="col-sm-12">

                        <form action="">
                            <div>
                                <label for="addUser"> Select User from dropdown to add: </label>
                                <select name="userId">
                                    <% for (var i=0; i < notJoinedUsers.length;i++) { %>
                                        <option value="<%= notJoinedUsers[i].userId %>">
                                            <%= notJoinedUsers[i].userName %>
                                        </option>
                                        <% } %>
                                </select>
                                <input type="submit" value="Add User"></input>
                            </div>

                        </form>
                    </div>
                </div>

                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Sl.No</th>
                            <th>Username</th>
                            <!-- <th>Joined Date</th> -->
                            <th>Remove user</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (var i=0; i < joinedUsers.length;i++) { %>
                            <tr>
                                <th scope="row">
                                    <%= i+1 %>
                                </th>
                                <td>
                                    <%= joinedUsers[i].userName%>
                                </td>
                                <!-- <td>
                                    <%= joinedUsers[i].joinedDate%>
                                </td> -->
                                <td>
                                    <form>
                                     <button type="submit" id="PopoverCustomT-1" class="btn btn-primary btn-sm">
                                        Remove</button>
                                    </form>
                                </td>
                            </tr>
                            <% } %>
                    </tbody>
                </table>
            </div>
            <% } %>
</div>