<div class="app-main__inner">
    <div class="table-title">
        <div class="row">
          <div class="col-sm-6">
            <h2><b>Group Management</b></h2>
          </div>
          <div class="col-sm-4">
            <button type="button" class="btn btn-primary" onclick="location.href = '/addGroup'">Add New
              Group(Under construction)</button>
          </div>
        </div>
      </div>
    <!-- <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for users"> -->
    <!-- <h3 style="text-align: center;">User Management</h3> -->
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Group Name</th>
                    <th scope="col">Creator</th>
                    <th scope="col">Created Date</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                <% for (var i=0; i < result.length;i++) { %>
                    <tr>
                        <th scope="row">
                            <%= i+1 %>
                        </th>
                        <td><a href="/getGroupMembers/<%= result[i].groupId%>"><%= result[i].groupName%></a></td>
                        <td>
                            <%= result[i].creator%>
                        </td>
                        <td>
                            <%= result[i].createdDate %>
                        </td>
                        <td>
                            <form action="/editGroup/<%= result[i].groupId%>" method="get">
                                <button type="submit" id="PopoverCustomT-1" class="btn btn-primary btn-sm">Edit</button>
                            </form>
                        </td>
                        <td>
                            <form action="/deleteGroup/<%= result[i].groupId%>" method="get">
                                <button type="submit" id="PopoverCustomT-1"
                                    class="btn btn-danger btn-sm">Delete</button>
                            </form>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>
    </div>
</div>