<div class="app-main__inner">


        <% if (!result[0].userName) { %>
            <div class="col-sm-12 row">
                <h2> <b>Group Name: <%= result[0].groupName%> </b> </h2>
                <div class="col-sm-3">
                    <button class="btn btn-success" onclick="myFunction()">Add User</button>
                </div>
            </div>
            <% } else{ %>
                <div class="table-wrapper">
                    <div class="col-sm-12 row">
                        <h2> <b>Group Name: <%= result[0].groupName%> </b> </h2>
                        <div class="col-sm-3">
                            <button class="btn btn-success" onclick="myFunction()">Add User</button>
                        </div>
                    </div>

                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Sl.No</th>
                                <th>Username</th>
                                <th>Joined Date</th>
                                <th>Remove user</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for (var i=0; i < result.length;i++) { %>
                                <tr>
                                    <th scope="row">
                                        <%= i+1 %>
                                    </th>
                                    <td>
                                        <%= result[i].userName%>
                                    </td>
                                    <td>
                                        <%= result[i].joinedDate%>
                                    </td>
                                    <td>
                                        <form action="../removeUser/<%= result[0].groupId %>/<%= result[i].userId%>"
                                            method="get">
                                            <button type="submit" id="PopoverCustomT-1"
                                                class="btn btn-primary btn-sm">Remove</button>
                                        </form>
                                    </td>
                                </tr>
                                <% } %>
                        </tbody>
                    </table>
                </div>
                <% } %>
</div>