<div class="app-main__inner">

    <!-- <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for users"> -->
    <!-- <h3 style="text-align: center;">User Management</h3> -->
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">Password</th>
                    <!-- <th scope="col">Challenges</th> -->
                    <th scope="col">Profile</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                <% for (var i=0; i < result.length;i++) { %>
                    <tr>
                        <th scope="row">
                            <%= i+1 %>
                        </th>
                        <td><a href="/getAdminUserName/<%= result[i].userId%>"><%= result[i].userName%></a></td>
                        
                        <td>
                            <%= result[i].email%>
                        </td>
                        <td>
                            <%= result[i].password%>
                        </td>
                        <!-- <td>
                        <a href="">View</a>
                    </td> -->
                        <td>
                            <form action="/editUser/<%= result[i].UserId%>" method="get">
                                <button type="submit" id="PopoverCustomT-1" class="btn btn-primary btn-sm">Edit</button>
                            </form>
                        </td>
                        <td>
                            <form action="deleteUser/<%= result[i].UserId%>" method="get">
                                <button type="submit" id="PopoverCustomT-1"
                                    class="btn btn-primary btn-sm">Delete</button>
                            </form>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>
    </div>

</div>